.icons{
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.schoolIcon:hover {
  color: #3b883b;
}

//.editIcon:hover {
//  color: #418cff;
//}
//
//.deleteIcon:hover {
//  color:#ff653f
//}