.title{
  cursor: pointer;
  padding: 22px;
}

.title:hover{
  color: #366EFF;
}

.icon{
  cursor: pointer;
}

.schoolIcon:hover {
  color: #3b883b;
}

.editIcon:hover {
  color: #418cff;
}

.deleteIcon:hover {
  color:#ff653f
}