.title{
  cursor: pointer;
  padding: 22px;
}

.title:hover{
  color: #366EFF;
}

.icon{
  cursor: pointer;
}

.schoolIcon:hover {
  color: #3b883b;
}

.editIcon:hover {
  color: #418cff;
}

.deleteIcon:hover {
  color:#ff653f
}
.img {
  width: 80px;
  height: 80px;
  background-size: contain;
}
.imgContainer{
  display: flex;
}
.name {
  /* white-space: normal; */
  align-self: center;
  margin-left: 10px;
  max-width: 200px;
  /* max-height: 100px; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  /* display: block; */
  word-wrap: break-word;
}