.packsContainer {
  .packBody {
    display: flex;
    justify-content: space-around;
  }
}
.icon{
  width: 80px;
  display: flex;
  justify-content: start;
}
.icon:hover{
  cursor: pointer;
}
.title{
  cursor: pointer;
}
.title:hover{
  color: #366EFF;
}

