.text {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0 10px;
}

.trained {
    color: #c6c6c6;
    font-size: 14px;
    display: block;
    padding: 20px 0 20px;

}

.trained span {
    color: #959595;
}
.btn{
    width: 100%;
    border-radius: 20px;
}
.title{
    text-align: center;
}