.text {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0 10px;
    position: relative;

}
.text span {
    position: absolute;

    margin-left: 5px;
}

.trained {
    color: #c6c6c6;
    font-size: 14px;
    display: block;
    padding: 20px 0 20px;
    position: relative;
}

.trained span {
    color: #959595;
    position: absolute;

}
.btn{
    width: 100%;
    border-radius: 20px;
}
.title{
    text-align: center;
}