.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 400px;
  width: 400px;
  background-color: white;
}
.img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.name{
  font-size: 20px;
  margin: 10px;
}
.email{
  font-size: 15px;
  margin: 10px;
}
.button{
  margin: 10px;
}
.editableForm{
  position: relative;
}
.buttonSave{
  position: absolute;
}
.editIcon:hover{
  cursor: pointer;
  color: #366EFF;
}
.backToPacksList{
  display: flex;
  justify-content: left;
  margin: 10px;
  cursor: pointer;
}
.backToPacksList:hover{
  color: #366EFF;
}
