.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 420px;
  width: 400px;
  background-color: white;
}
.img{
  width: 160px;
  height: 160px;
  border-radius: 90px;
  position: relative;
}
.uploadImg{
  position: absolute;
  right: 35px;
  bottom: 35px;
}
.name, .email{
  font-size: 15px;
  margin: 10px;
}

.button{
  margin: 10px;
}
.editableForm{
  position: relative;
}
.buttonSave{
  position: absolute;
}
.editIcon:hover{
  cursor: pointer;
  color: #366EFF;
}
.backToPacksList{
  display: flex;
  justify-content: left;
  margin: 10px;
  cursor: pointer;
}
.backToPacksList:hover{
  color: #366EFF;
}
