.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #FCFCFC;
}
.logo{
  width: 200px;
  height: 50px;
  margin: 0 0 0 50px;
  background: url("../assets/images/it-incubator.png") center center/cover no-repeat
}
.login{
  flex: 1 1 50%;
  text-align: end;
}
.profileHeader {
  display: inline-flex;
  margin: 0 50px 0 0;
  cursor: pointer;
}
.profileHeader:hover{
  color: #366EFF;
}
.name{
  margin-right: 10px;
  text-decoration: underline;
}
.buttonLogout{
  margin: 0 50px 0 0;
  background: #366EFF;
  border-radius: 30px;
  height: 30px;
  width: 100px;
}