.filterWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navigationWindow {
    display: flex;
    justify-content: space-between;
    margin: 20px 3% 20px 3%;

    .doubleButton {

    }
    .delFilter{
      //margin-right: 3%;
    }
  }

  //.tableHeader {
  //  display: flex;
  //  justify-content: space-around;
  //  font-weight: bold;
  //
  //  .tableHeaderText {
  //    font-size: 14pt
  //  }
 // }
}