.filterWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navigationWindow {
    display: flex;
    justify-content: space-between;

    .doubleButton {

    }
  }

}