.filterWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navigationWindow {
    display: flex;
    justify-content: space-between;

    .doubleButton {

    }
  }

  .tableHeader {
    display: flex;
    justify-content: space-around;

    .tableHeaderText {
      font-size: 14pt
    }
  }
}